<?xml version="1.0"?>

<launch>

  <!-- launch the drive-by-write system -->
  <arg name="sys" default="true" />
  <group if="$(arg sys)">
    <include file="$(find dbw_polaris_can)/launch/dbw.launch" />
  </group>

  <!-- connect to the vehicle's camera -->
  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch" />

  <!-- launch the dynamic reconfigure GUI -->
  <node pkg="rqt_reconfigure" name="rqt_console" type="rqt_reconfigure" args="-t" />

  <!-- launch the yellow line detection node -->
  <node pkg="reu_lane_follow_pkg" name="detect_yellow" type="detect_yellow.py" required="true" output="screen" />

  <!-- launch the control unit node -->
  <node pkg="reu_lane_follow_pkg" name="reu_controller" type="reu_controller.py" required="true" output="screen" />

  <!-- launch the line follow node -->
  <node pkg="reu_lane_follow_pkg" name="line_follow" type="line_follow.py" required="true" output="screen" />


</launch>
