<launch>

    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch" />

    <include file="$(find dbw_polaris_can)/launch/dbw.launch" />
    
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_console" args="-t" />
    
    <node name="hough_line_follow" pkg="reu_lane_follow_pkg" type="hough_test2.py" 
    required="true" output="screen" />
    
    <node name="reu_controller" pkg="reu_lane_follow_pkg" type="reu_controller.py" 
    required="true" output="screen" />

    <node name="detect_yellow" pkg="reu_lane_follow_pkg" type="detect_yellow.py" 
    required="true" output="screen" />
    
</launch>